#main-content {
    float: left;
    width: 70%;
    padding: 20px;

}
header {
    background-color: #641d1d;
    text-align: center;
}
nav {
    background-color: #da9f9f;
}

aside {
    background-color: #3f849a;
    float: left;
    width: 18%;
    padding: 20px;
}
footer {
    background-color: #641d1d;
    text-align: center;
    color: white;
    padding: 10px;
    clear: both;
}